version: 2
jobs:
  build:
    machine:
      image: circleci/classic:latest
    steps:
      - checkout
      - run:
          name: Get Data and Extract
          command: |
            if [[ ! -d ~/data/ds105 ]]; then
              wget -c -O ${HOME}/ds105.tar "https://files.osf.io/v1/resources/653ew/providers/osfstorage/5b781237410f920018e5a4fc" && \
              mkdir -p ${HOME}/data && tar xf ${HOME}/ds105.tar -C ${HOME}/data
            fi
      - run:
          command: |
            if [[ -e ~/docker/image.tar ]]; then
              docker load -i ~/docker/image.tar;
            fi
            git describe --tags --always > version
            docker build -t bids/${CIRCLE_PROJECT_REPONAME,,}:latest .
            mkdir -p ~/docker
            docker save "bids/${CIRCLE_PROJECT_REPONAME,,}:latest" > ~/docker/image.tar
            mkdir -p ${HOME}/outputs
      - persist_to_workspace:
          root: /home/circleci
          paths:
            - data/ds105
            - docker/image.tar
  test:
    machine:
      image: circleci/classic:latest
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          command: |
            docker run -ti --rm --read-only \
              -v /tmp:/tmp -v /var/tmp:/var/tmp \
              -v /tmp/workspace/data/ds105:/bids_dataset bids/${CIRCLE_PROJECT_REPONAME,,} --version
            docker run -ti --rm --read-only \
              -v /tmp:/tmp -v /var/tmp:/var/tmp \
              -v /tmp/workspace/data/ds105:/bids_dataset \
              -v /tmp/workspace/data/ds105/derivatives/pymvpa:/outputs \
              bids/${CIRCLE_PROJECT_REPONAME,,} \
              /bids_dataset /outputs participant_prep -k objectviewing -p 1 2
            docker run -ti --rm --read-only \
              -v /tmp:/tmp -v /var/tmp:/var/tmp \
              -v /tmp/workspace/data/ds105:/bids_dataset \
              -v /tmp/workspace/data/ds105/derivatives/pymvpa:/outputs \
              bids/${CIRCLE_PROJECT_REPONAME,,} \
              /bids_dataset /outputs participant_test -k objectviewing -c face house -p 1 2 -d -z
            ls /tmp/workspace/data/ds105/derivatives
            ls /tmp/workspace/data/ds105/derivatives/pymvpa
            ls /tmp/workspace/data/ds105/derivatives/pymvpa/sub-1
            ls /tmp/workspace/data/ds105/derivatives/pymvpa/sub-2
            #temp
  deploy:
    docker:
      - image: circleci/buildpack-deps:stretch
    #machine:
      #image: circleci/classic:latest
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run: docker load -i /tmp/workspace/docker/image.tar
      - run:
          command: |
            if [[ -n "${DOCKER_PASS}" ]]; then
              docker login -u ${DOCKER_USER} -p ${DOCKER_PASS} && \
              docker push bids/${CIRCLE_PROJECT_REPONAME,,}:latest
              if [[ -n "${CIRCLE_TAG}" ]]; then
                docker tag bids/${CIRCLE_PROJECT_REPONAME,,} bids/${CIRCLE_PROJECT_REPONAME,,}:${CIRCLE_TAG}
                docker push bids/${CIRCLE_PROJECT_REPONAME,,}:${CIRCLE_TAG};
              fi
            fi
workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - test:
          requires:
            - build
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /.*/
